## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/
dist/

## Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser
*.suo
*.user
*.userprefs

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

## JetBrains Rider
.idea/
*.sln.iml

## Windows thumbnail cache
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Windows shortcuts
*.lnk

.vercel
